@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
#root {
    font-family: Roboto;
}
.container {
    width: 90vw;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

h1, p {
    margin: 0;
}

.img-big {
    margin: 4vh;
}

.getstarted-btn {
    width: 70vw;
    height: 40px;
    background-color: rgba(239, 83, 111, 0.9);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstarted-btn a {
    font-size: initial;
    font-weight: bold;
    color: white;
}