.orders-table{
    width: 90%;
    padding:5px;
    margin: 0px auto;
    border-collapse: separate;
}
.orders-table-header{
    border: 1px solid #ddd;
    padding: 8px;
}

.orders-table tr:hover {
    background-color: #ddd;
}

.orders-table th {
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.orders-table-header{
    color: #575A88;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    width: 100%;
}


table { 
    border-collapse: separate; 
    border-spacing: 0px 10px;
}
th {
    border-style: none;
}
td {
    border-style: none;
    background-color:#fff;
    padding: 10px 5px;
}
td:first-child {
    border-left-style: none;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}








