.item-number{
    color: #536DFE;
    font-weight: bold;
}
.item-name{
    color: #575A88;
    font-weight: bold;
    font-size:1rem
}


.item-total{
    color: #575A88;
    font-weight: bold;
}
.img-info{
    display:flex;
    justify-content:center;
    align-items:center;
    color: #F9A826;
    font-weight: bold;
    font-size:1.2rem
}
.info-thumbnail{
    height: 30px;
    margin-right: 2px;
}

