body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  max-width: 1250px;
  margin:0 auto;
}

.btn-orange{
  color:white;
  background:#FF9900;
  border:none;
  border-radius:10px;
  padding:5px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}
.btn-add{
  color:white;
  background:#3DBF4A;
  border:none;
  border-radius:10px;
  padding:10px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}
.disabled{
  color:rgb(80, 80, 80);
  background:#c6c6c6;
  pointer-events:none;
  
}
.btn-red{
  color:white;
  background:#FF002E;
  border:none;
  border-radius:10px;
  padding:5px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}
.btn-green{
  color:white;
  background:rgba(61, 191, 74, 0.9);
  border:none;
  border-radius:10px;
  padding:5px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}
.btn-cancel{
  color:white;
  background:#FF002E;
  border:none;
  border-radius:20px;
  padding:10px 20px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
  width:140px;
  text-align: center;
}
.btn-save{
  color:white;
  background:#3DBF4A;
  border:none;
  border-radius:20px;
  padding:10px 20px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
  width:140px;
  text-align: center;
  margin-left: 10px;
}

.btn-green{
  color:white;
  background: #06A847;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.text-coral {
  color: #EF536F;
  font-weight: bold;
}

.text-gray {
  color: #3F3D56;
  font-weight: bold;
}

.text-navy {
  color: #575A89;
  font-weight: bold;
}


