body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  max-width: 1250px;
  margin:0 auto;
}

.content {
  width: 90vw;
  margin: auto;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: center;
}

.btn-orange{
  color:white;
  background:#FF9900;
  border:none;
  border-radius:10px;
  padding:5px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}
.btn-red{
  color:white;
  background:#FF002E;
  border:none;
  border-radius:10px;
  padding:5px 10px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 0.8rem;
}

.btn-green{
  color:white;
  background: #06A847;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btn-coral{
  color:white;
  background: #EF536F;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.text-coral {
  color: #EF536F;
  font-weight: bold;
}

.text-gray {
  color: #3F3D56;
  font-weight: bold;
}

.text-navy {
  color: #575A89;
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

.img-big {
  margin: 40px;
}


