body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  max-width: 1250px;
  margin:0 auto;
}

.btn-orange{
  color:white;
  background:#FF9900;
  border:none;
  border-radius:10px;
  padding:10px;
  font-weight: bold;
  text-transform:uppercase;
}


